{% extends "layout.html" %}
{% block container %}

<div class="container-fluid">
  <ul class="nav nav-pills">
    <li><a href="/">Home</a></li>
    <li><a href="/recent">Recent</a></li>
    <li class="active"><a href="/flight">flight</a></li>
    <li><a href="/squawk">squawk</a></li>
  </ul>
</div>

<html>
<body>


<button onclick="getLocation()">Try It</button>

<p id="demo"></p>

<script>
var x = document.getElementById("demo");

function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}

function showPosition(position) {
    x.innerHTML = "Latitude: " + position.coords.latitude +
    "<br>Longitude: " + position.coords.longitude;
}
</script>

</body>
</html>

{% endblock %}